@import url('https://fonts.googleapis.com/css2?family=Itim&family=Libre+Franklin:wght@300;500;700;800;900&family=Merriweather:wght@300;400;700;900&family=Montserrat:wght@300;400;500;600;700;900&family=Open+Sans:wght@300;400;500;700;800&family=Poppins:wght@300;400;500;700;800;900&family=Roboto:wght@100;300;400;500;700;900&family=Work+Sans:wght@300;400;500;700;800;900&display=swap');


.fontItim{font-family: 'Itim', cursive;}
.LibreFranklin{font-family: 'Libre Franklin', sans-serif;}
.Merriweather{font-family: 'Merriweather', serif;}
.Montserrat{font-family: 'Montserrat', sans-serif;}
.OpenSans{font-family: 'Open Sans', sans-serif;}
.Poppins{font-family: 'Poppins', sans-serif;}
.Roboto{font-family: 'Roboto', sans-serif;}
.WorkSans{font-family: 'Work Sans', sans-serif;}

*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
.cardDiv{
    width: 400px;
}

.wrapper{
    /* position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); */
  }
  
  .anchor{
    display: block;
    width: 200px;
    height: 40px;
    line-height: 40px;
    font-size: 18px;
    font-family: sans-serif;
    text-decoration: none;
    color: #333;
    border: 2px solid #333;
    letter-spacing: 2px;
    text-align: center;
    position: relative;
    transition: all .35s;
  }
  
  .anchor span{
    position: relative;
    z-index: 2;
  }
  
  .anchor:after{
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: #ff003b;
    transition: all .35s;
  }
  
  .anchor:hover{
    color: #fff;
  }
  
  .anchor:hover:after{
    width: 100%;
  }